@using Lesson_8_EF.Models.Entities.Concrets
@model Student

@{
    ViewData["Title"] = "Update Student";
}

<h1 class="my-4 text-center">@ViewData["Title"]</h1>

<form asp-action="UpdateStudent" asp-controller="Student" method="post">
    <div class="table-responsive">
        <table class="table table-bordered align-middle text-center">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Field</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Student ID</td>
                    <td>
                        <input asp-for="Id" class="form-control" disabled />
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>First Name</td>
                    <td>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td>
                        <input asp-for="Surname" class="form-control" />
                        <span asp-validation-for="Surname" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>Father's Name</td>
                    <td>
                        <input asp-for="FateherName" class="form-control" />
                        <span asp-validation-for="FateherName" class="text-danger"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="d-flex justify-content-center mt-3">
        <a asp-action="Add" asp-controller="Student" class="btn btn-secondary me-2">Back</a>
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
</form>
